/*
 * Custom styles for Doxygen documentation
 * ==============================================
 * Do not delete this file
 * ==============================================
 * Linked to Doxyfile with HTML_EXTRA_STYLESHEET
 * (line 1207)
 * ==============================================
 * Contents
 * - General styling
 * - Title
 * - Top menu
 * - Search box
 * - Contents header
 * - Footer
 * - Page contents
 * - Side menu view (displayed)
 */

/**************************************************************************
 *  General properties
 **************************************************************************/

*,body, table, div, p, dl, .SRPage .SREntry {
    font-family: Roboto, sans-serif !important;
}

a, a:visited {
    color: #003dff !important;
}


/**************************************************************************
 *  Title area
 **************************************************************************/

#titlearea {
    padding: 1em 0;
}

#titlearea>table>tbody>tr {
    height: auto !important;
}

#projectlogo {
    vertical-align: middle;
    padding: 0 1em;
}

#projectlogo img {
    height: 2rem;
}

#projectname {
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
    line-height: 1rem;
}

#projectbrief {
    color: #425362;
    font-size: .8rem;
    line-height: 1;
    padding-top: .2rem;
}

/**************************************************************************
 *  Top menu (not displayed in selected view)
 **************************************************************************/

.sm {
    background: #3654b3;
}

.sm>li>a,
.sm>li>a.highlighted {
    background: none;
    color: #fff;
    text-shadow: none !important;
}

.sm>li>a:hover {
    background: #273c80;
}

/**************************************************************************
 *  Search box
 **************************************************************************/

#MSearchBox {
    top: .5rem;
    right: 1rem;
    height: 1.8rem;
    margin: .25rem;
    width: 20rem;
    background: #fcfcfc;
    border: 1px solid #3b91f7;
    border-radius: 1rem;
}

#MSearchBox .left {
    background:none;
    width: 20rem;
    height: 1.8rem;
    left: .65rem;
}

.left #MSearchSelect {
    left: 0;
    top: 7px;
    width: 15px;
    height: 15px;
}

#MSearchField {
    width: 18rem;
    height: 1.8rem;
    color: #000;
    margin-left: 1rem;
    background: none;
    padding: .4rem .3rem;
    box-sizing: border-box;
}

#MSearchBox .right {
    display: none;
}

#MSearchResultsWindow {
    margin-top: 9px;
    margin-left: 169px;
    border: 1px solid #777;
}

#MSearchSelectWindow {
    margin-left: -4px;
    margin-top: 1px;
    border-radius: 2px;
    border-color: #b7b8b9;
}

#MSearchSelectWindow a {
    font-size: 0.75rem;
    padding: 2px 12px 2px 6px;
}

/**************************************************************************
 *  Contents header
 **************************************************************************/

div.header {
    background: #F9FAFC;
    border-bottom: 1px solid #E7ECF1;
}

.title {
    font-weight: normal;
    font-size: 1rem;
    margin: 1rem 0.35rem;
    color: #000;
    line-height: 1rem;
}

div.summary {
    font-size: 12px;
    padding-top: 19px;
    padding-right: 18px;
}

/**************************************************************************
 *  Footer (not displayed in this view)
 **************************************************************************/

address.footer {
    display: none;
}

/**************************************************************************
 *  Page contents
 **************************************************************************/

tr.heading h2.groupheader, 
h2.groupheader  {
    font-weight: 300;
    color: hsl(225.6, 100%, 16%);
    padding: 0;
    margin-bottom: 1.4rem;
    font-size: 1.4rem;
    margin-top: 3rem;
    border: 0;
}

tr.heading h2.groupheader::after,
h2.groupheader::after {
    content: "";
    display: block;
    width: 0.8rem;
    margin-top: 1rem;
    height: 0.2rem;
    background: hsl(225.6, 100%, 50%);
}

span.permalink a {
    visibility: hidden;
}

span.permalink a::before {
    content: "§";
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0.7rem;
    height: 1.2rem;
    line-height: 1.2rem;
    width: 1.2rem;
    display: block;
    visibility: visible;
    color: hsl(212.7, 91.8%, 60%);
}

.textblock {
    padding: .5rem;
    background: #f9fafc;
}

.memSeparator {
    background: #f9fafc;
    border-bottom: 1px solid #e5eaf0;
}

.memtitle {
    float: none;
    border: 0;
    background: none;
    padding: .5rem;
    margin-top: 4rem;
}

.memitem {
    padding-left: 1.5rem;
    box-sizing: border-box;
}

div.fragment,
.memproto {
    background-color: hsl(210, 25%, 91.9%);
    margin: 0;
    border-radius: .5rem;
    padding: 1rem .25rem;
    box-shadow: none;
    margin-bottom: .5rem;
    color: #0c1345;
    text-shadow: none;
    border: 0;
}

.memdoc {
    border: 0;
    background: 0;
    box-shadow: none;
    border-bottom: 3px solid #e5eaf0;
    border-radius: 0;
    padding: .25rem .25rem .5rem;
}

.paramname {
    color: #c92995;
    font-weight: bold;
}

.paramtype {
    color: #3ab678;
}

.memname td {
    padding: 0;
}

div.fragment *, .memproto *,
.paramtype, .paramname, .memname,
.paramtype *, .paramname *, .memname * {
    font-family: 'Fira Mono','Consolas','Courier New', Courier, monospace !important;
}

span.mlabel {
    font-size: .75rem;
    background: #003dff;
    border: 0;
    padding: .25rem .5rem;
    margin-right: .5rem;
}

div.dynheader {
    font-style: italic;
    color: #333;
    font-size: .7rem;
    text-align: center;
    margin-bottom: .5rem;
    margin-top: 0;
}

.dyncontent {
    margin: 1rem 0;
}

/**************************************************************************
 *  Side menu view (displayed)
 **************************************************************************/

#doc-content {
    overflow-x: hidden;
    padding-bottom: 32px;
}
#nav-tree {
    background: #e5eaf0;
    overflow-x: hidden;
    padding-bottom: 32px;
}
#nav-tree .selected {
    background:#003dff;
}
#nav-tree .selected a {
    color: #fff !important;
}
#nav-sync {
    display: none;
}
.ui-resizable-handle.ui-resizable-e {
    padding-bottom: 32px;
}
#nav-path {
    display: none;
}
